<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="navsat" params="name parent_link *origin namespace update_rate:=1">
        <xacro:include
            filename="$(find gazebo_environment)/urdf/common_properties.urdf.xacro" />



        <xacro:property name="base_frame" value="${name}_navsat_frame" />

        <!-- Base frame -->
        <joint name="${name}_navsat_joint" type="fixed">
            <parent link="${parent_link}" />
            <child link="${base_frame}" />
            <xacro:insert_block name="origin" />
        </joint>

        <link name="${base_frame}">
                <xacro:cuboid_inertia mass="1.0" x="0.01" y="0.01" z="0.01" />
        </link>


        <!-- Gazebo links and joints -->


        <gazebo>
            <plugin
            filename="ignition-gazebo-navsat-system"
            name="ignition::gazebo::systems::NavSat">
            </plugin>
        </gazebo>

        <gazebo reference="${base_frame}">
            <sensor name="navsat_sensor" type="navsat">
            <always_on>1</always_on>
            <update_rate>${update_rate}</update_rate>
            <topic>${namespace}/sensors/${name}/navsat</topic>
            </sensor>
        </gazebo>

        <gazebo reference="${name}_navsat_joint">
            <preserveFixedJoint>true</preserveFixedJoint>
        </gazebo>


    </xacro:macro>
</robot>